


* html ul {
position:absolute;
left:expression(0+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');
}
* html {
}
#home ul{ /*background-image: url("images/one-page-arrow.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size:38% auto;*/
    background-image: url("images/one-page-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35% 35%;
    display: table;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.content .apply-now {left: 47%;
    top: 28%;
    width: 6%;
	/*background-image:url(images/visdom-logo-hover.png);
	background-position: 50% 30%;
    background-size: 10% auto !important;*/
}
.apply-now a.panel {
	/*color:#000;*/
}
.content .apply-now:hover
{
	/*background-image:url(images/visdom-logo.png);
	background-image:url(images/visdom-logo.png);	*/
	}
/*Home Page*/

.content li.one-1 {
}
.content li.about-us {
}
.content li  a {
	text-decoration:none;
    display: table;
    font-size: 18px;
    position: absolute;
    
    text-align: center;
    text-decoration: none;
    width: 50%;
}
.content li  a.top-link{
}
.content li  a.top-link:hover{font-weight: bold;}
.content li  a:hover{ /*font-weight: bold;*/ color:#000;}

/*.gs{ background-image:url("images/gs.png");}*/

.contact-us{/*background-image:url("images/Icons/getting-started-idle.png");
            background-position: 100% 40% !important; */
	bottom: 0%;right: 0%;

/*
-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -webkit-filter: grayscale(100%);
         filter: gray;
         filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
*/     
}
.contact-us:hover{/*background-image:url("images/Icons/getting-started.png");
                  
background-position:top center !important;
background-image:url("images/Icons/getting-started.png");
                 
                       -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
         -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
         -webkit-filter: grayscale(0%);
         filter: gray;
         filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    */
     }

.about-us{/*background-image:url(images/Icons/introduction-idle.png);
          background-position: 50% 5% !important;*/
          left:25%; bottom:25%;
          }
.about-us:hover{/*background-image:url(images/Icons/introduction.png)*/}
.content li.one-2 {}
.faq{/*background-image:url(images/Icons/income-path-idle.png);background-position: 0 40% !important;
*/bottom: 0;
    left: 0;}
.faq:hover{/*background-image:url(images/Icons/income-path.png);*/}
.calculators{ background-image:url(images/Icons/calculators-idle.png);}
.calculators:hover{ background-image:url(images/Icons/calculators-hover.png);}
.content li.one-3 {   
}
.mortgage-product{ background-image:url(images/Icons/mortgage-news-idle.png);}
.mortgage-product:hover{ background-image:url(images/Icons/mortgage-news-hover.png);}
.affiliates{ top: 8%;
    right: 0;/*background-image:url(images/Icons/vms-path-idle.png);*/}
.affiliates:hover{ /*background-image:url(images/Icons/vms-path.png);*/}
.content li.one-end {
}
.rate{ top: 8%;
    left: 0;/*background-image:url(images/Icons/understanding-industry.png);*/}
.rate:hover{ /*background-image:url(images/Icons/understanding.png);*/}



.content ul li {
    /*background-position: center bottom;
    background-repeat: no-repeat !important;
    background-size: 33% auto !important;
    display: table-cell;
    width: 33%;
*/
background-position: center bottom;
    background-repeat: no-repeat !important;
    background-size: 33% auto !important;
    display: table-cell;
    position: relative;
    width: 33%;
}
.content ul li a{
    /*
    background-position: center bottom;
    background-repeat: no-repeat !important;
    background-size: 33% auto !important;
    display: table-cell;
    width: 100%;
*/
}
.content ul {
    height:600px;
    margin:3% auto !important;
    padding: 0;
    position: relative;
    width:75%;
}

.first-row{ display:table;  width: 75%; margin:0 auto;height: 44%;}
.first-row li{ width:33% !important;}
.second-row{ display:table;width: 75%; margin:0 auto;height:15%;}
.second-row li{ width:100% !important; text-align:center;}
.third-row{ display:table;width: 75%; margin:0 auto;height: 40%;}
.third-row li{ width:33% !important;}
#home{ position: fixed;
    width: 100%;}
.content img{ width:100%; max-width:100%; height:100%;clear:both;}
.content span{ clear:both; width:100%;font-size: 80%;}

.content li  a img{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.content li  a img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}